extends  ../_skeleton

block variables
	- var activeCategory = 'about us'
	- var pageName = 'About Us'

block page
	// Page Header
	include ../sections/_header-thin

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-about-us'
	})

	//Overview
	include ../sections/_section-about-1

	//Our history
	include ../sections/_section-our-history

	//Testimonials
	section.section.section-lg.text-center
		.container
			h2.wow-outer.font-weight-bold.text-gray-800: span.wow.slideInUp Testimonials
			include ../includes/_slick-widget-testimonials


	// Latest Blog Posts
	section.section.section-md.bg-gray-100
		.container
			h2.title-indent.text-center.wow-outer.font-weight-bold.text-gray-800: span.wow.slideInUp Latest Blog Posts
			include ../includes/_row-news-post-layout

	// Page Footer
	include ../sections/_footer-linked
