extends  ../_skeleton

//- Includes


block variables
	- var activeCategory = 'pages'
	- var pageName = 'Accordions'

block page 
	// Page Header
	include ../sections/_header-thin

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-about-us'
	})

	// Accordion & skill bars
	section.section.section-lg
		.container
			h4 Accordion & skill bars
			include ../includes/_row-accordion-skill-bars

	// Accordion & photo
	section.section.section-md
		.container
			h4 Accordion & photo
			include ../includes/_row-accordion-and-photo

	// Page Footer
	include ../sections/_footer-linked