extends  ../_skeleton

//- Includes
include ../components/_ui-career-classic

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Careers'

block page 
	// Page Header
	include ../sections/_header-thin

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-about-us'
	})

	// Working at CaseCraft
	section.section.section-lg
		.container
			.row.row-50.justify-content-center.justify-content-lg-between.flex-lg-row-reverse
				.col-md-10.col-lg-6.col-xl-5
					h3 Working at Cruise
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					a.button.button-lg.button-primary.button-winona(href='about-us.html') Learn more

				.col-md-10.col-lg-6.col-xl-6
					+jpg('careers-1-570x368', 'img-responsive')

	// Available Vacancies
	section.section.section-md.bg-gray-100.text-center
		.container
			h2.wow-outer.font-weight-bold.text-gray-800 Available Vacancies
			.row.row-45
				.col-md-6.col-lg-4
					+career-classic({
						title: 'Program Director',
						list: [
							{ iconClass: 'mdi mdi-calendar-clock', text: 'Full Time' },
							{ iconClass: 'mdi mdi-map-marker', text: 'San Diego' }
						]
					})
						p Tabes velums, tanquam camerarius tata. A falsis, urbs superbus xiphias. Nunquam examinare abnoba. Humani generiss observare, tanquam tus.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'Pastry Chef',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Superbus uria recte attrahendams bursa est. Sunt cottaes quaestio camerarius, dexter assimilatioes. Lotus, noster classiss recte locus de pius, flavum bubo. Diatrias sunt particulas de flavum ignigena.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'IT Systems Manager',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Era de salvus fluctus, promissio lumen! Magister de castus aonides, magicae adelphis! Cum calcaria credere, omnes lunaes reperire grandis, mirabilis accolaes.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'Plumber',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Byssuss potus! Finiss peregrinatione in antenna! Cum zirbus ire, omnes rectores demitto rusticus, orgiaes. Cum fluctus velum, elogiumes imperium castus.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'Pool Supervisor',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Heu, luna! Sunt racanaes imitari bassus, lotus aususes. Orexiss mori, tanquam velox extum. Raptus, nobilis bullas etiam aperto de placidus, albus ventus.

				.col-md-6.col-lg-4
					+career-classic({
						title: 'Front Desk Agent',
						list: [
							{iconClass: 'mdi mdi-calendar-clock', text: 'Full Time'},
							{iconClass: 'mdi mdi-map-marker', text: 'San Diego'}
						]
					})
						p Ecce, secundus devirginato! Cum ignigena nocere, omnes tumultumquees acquirere superbus, clemens victrixes. Compater, domina, et extum.


			a.button.button-lg.button-primary.button-winona(href='#') Join Us

	// Thin CTA
	include ../sections/_section-thin-cta

	// Page Footer
	include ../sections/_footer-linked
