extends  ../_skeleton

//- Includes
include ../components/_ui-progress-bar-linear
include ../components/_ui-career-classic

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Features'

block page 
	// Page Header
	include ../sections/_header-thin

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-about-us'
	})
	

	section.section.section-xl.text-center
		.container
			.row.row-30.row-xxl-70.offset-top-2
				.col-sm-6.col-lg-3.wow-outer
					// Box Light
					article.box-light.wow.slideInLeft
						.box-light-icon.linearicons-sun
						h4.text-gray-800.box-light-title Friendly Managers
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

				.col-sm-6.col-lg-3.wow-outer
					// Box Light
					article.box-light.wow.slideInLeft(data-wow-delay='.05s')
						.box-light-icon.linearicons-ship2
						h4.text-gray-800.box-light-title Flexible Prices
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

				.col-sm-6.col-lg-3.wow-outer
					// Box Light
					article.box-light.wow.slideInLeft(data-wow-delay='.1s')
						.box-light-icon.linearicons-map2
						h4.text-gray-800.box-light-title Lots of Cruises
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

				.col-sm-6.col-lg-3.wow-outer
					// Box Light
					article.box-light.wow.slideInLeft(data-wow-delay='.15s')
						.box-light-icon.linearicons-mouse-right
						h4.text-gray-800.box-light-title Online Booking
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
			.row.row-30.row-xxl-70.offset-top-2
				.col-sm-6.col-lg-3.wow-outer
					// Box Light
					article.box-light.wow.slideInLeft
						.box-light-icon.linearicons-heart
						h4.text-gray-800.box-light-title Great Reputation
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

				.col-sm-6.col-lg-3.wow-outer
					// Box Light
					article.box-light.wow.slideInLeft(data-wow-delay='.05s')
						.box-light-icon.linearicons-umbrella2
						h4.text-gray-800.box-light-title Vast Experience
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

				.col-sm-6.col-lg-3.wow-outer
					// Box Light
					article.box-light.wow.slideInLeft(data-wow-delay='.1s')
						.box-light-icon.linearicons-star
						h4.text-gray-800.box-light-title Dedicated Team
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

				.col-sm-6.col-lg-3.wow-outer
					// Box Light
					article.box-light.wow.slideInLeft(data-wow-delay='.15s')
						.box-light-icon.linearicons-cloud-sun
						h4.text-gray-800.box-light-title Personal Approach
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore

	// Page Footer
	include ../sections/_footer-linked
