extends  ../_skeleton

//- Includes
include ../components/_ui-thumbnail-classic

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Gallery'

block page
	// Page Header
	include ../sections/_header-thin

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-about-us'
	}).thumbnail-corporate-light 

	section.section.section-lg.oh
		.container
			// Isotope Filters
			.isotope-filters.isotope-filters-modern
				button.isotope-filters-toggle.button.button-sm.button-primary(data-custom-toggle='#isotope-filters', data-custom-toggle-disable-on-blur="true") Filter
					span.caret
				ul.isotope-filters-list#isotope-filters
					li: a.active(data-isotope-filter='*', data-isotope-group='portfolio', href='#') All Types
					li: a(data-isotope-filter='Type 1', data-isotope-group='portfolio', href='#') Type 1
					li: a(data-isotope-filter='Type 2', data-isotope-group='portfolio', href='#') Type 2
			.isotope.isotope-condensed.row.hoverdir(data-isotope-layout='masonry' data-isotope-group='portfolio')
				.col-sm-6.col-lg-4.isotope-item.hoverdir-item(data-filter='Type 2' data-hoverdir-target='.thumbnail-classic-caption')
					+thumbnail-classic({
						img: 'gallery-masonry-condensed-1-390x576',
						link: 'single-cruise.html',
						title: 'Classic Cruises',
						text: 'Offering unforgettable experiences'
					}).thumbnail-classic-lg
				.col-sm-6.col-lg-4.isotope-item.hoverdir-item(data-filter='Type 1' data-hoverdir-target='.thumbnail-classic-caption')
					+thumbnail-classic({
						img: 'gallery-masonry-condensed-2-390x288',
						link: 'single-cruise.html',
						title: 'Family Cruises',
						text: 'Offering unforgettable experiences'
					})
				.col-sm-6.col-lg-4.isotope-item.hoverdir-item(data-filter='Type 2' data-hoverdir-target='.thumbnail-classic-caption')
					+thumbnail-classic({
						img: 'gallery-masonry-condensed-3-390x576',
						link: 'single-cruise.html',
						title: 'Extreme Cruises',
						text: 'Offering unforgettable experiences'
					}).thumbnail-classic-lg
				.col-sm-6.col-lg-4.isotope-item.hoverdir-item(data-filter='Type 2' data-hoverdir-target='.thumbnail-classic-caption')
					+thumbnail-classic({
						img: 'gallery-masonry-condensed-5-390x576',
						link: 'single-cruise.html',
						title: 'Luxury Cruises',
						text: 'Offering unforgettable experiences'
					}).thumbnail-classic-lg
				.col-sm-6.col-lg-4.isotope-item.hoverdir-item(data-filter='Type 1' data-hoverdir-target='.thumbnail-classic-caption')
					+thumbnail-classic({
						img: 'gallery-masonry-condensed-4-390x288',
						link: 'single-cruise.html',
						title: 'Exotic Cruises',
						text: 'Offering unforgettable experiences'
					})
				.col-sm-6.col-lg-4.isotope-item.hoverdir-item(data-filter='Type 1' data-hoverdir-target='.thumbnail-classic-caption')
					+thumbnail-classic({
						img: 'gallery-masonry-condensed-6-390x288',
						link: 'single-cruise.html',
						title: 'Adventure Cruises',
						text: 'Offering unforgettable experiences'
					})

	// Page Footer
	include ../sections/_footer-linked
