extends  ../_skeleton

//- Includes
include ../components/_ui-thumbnail-modern

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Grid Gallery'

block page
	include ../sections/_header-thin

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-about-us'
	})

	section.section.section-lg.oh
		.container
			// Isotope Filters
			.isotope-filters.isotope-filters-modern
				button.isotope-filters-toggle.button.button-sm.button-primary(data-custom-toggle='#isotope-filters', data-custom-toggle-disable-on-blur="true") Filter
					span.caret
				ul.isotope-filters-list#isotope-filters
					li: a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All Types
					li: a(data-isotope-filter='Type 1', data-isotope-group='gallery', href='#') Type 1 
					li: a(data-isotope-filter='Type 2', data-isotope-group='gallery', href='#') Type 2
					li: a(data-isotope-filter='Type 3', data-isotope-group='gallery', href='#') Type 3 

			.isotope.isotope-responsive.row(data-isotope-layout='fitRows' data-isotope-group='gallery' data-lightgallery='group')
				.col-sm-6.col-lg-4.isotope-item(data-filter='Type 3')
					+thumbnail-modern({ 
						img: 'grid-layout-1-370x256',
						original: 'images/gallery-original-1.jpg'
					})

				.col-sm-6.col-lg-4.isotope-item(data-filter='Type 2')
					+thumbnail-modern({
						img: 'grid-layout-2-370x256',
						original: 'images/gallery-original-2.jpg'
					})

				.col-sm-6.col-lg-4.isotope-item(data-filter='Type 1')
					+thumbnail-modern({
						img: 'grid-layout-3-370x256', 
						original: 'images/gallery-original-3.jpg'
					})

				.col-sm-6.col-lg-4.isotope-item(data-filter='Type 2')
					+thumbnail-modern({
						img: 'grid-layout-4-370x256',
						original: 'images/gallery-original-4.jpg'
					})

				.col-sm-6.col-lg-4.isotope-item(data-filter='Type 3')
					+thumbnail-modern({
						img: 'grid-layout-5-370x256',
						original: 'images/gallery-original-5.jpg'
					}) 

				.col-sm-6.col-lg-4.isotope-item(data-filter='Type 1')
					+thumbnail-modern({
						img: 'grid-layout-6-370x256',
						original: 'images/gallery-original-6.jpg'
					})

				.col-sm-6.col-lg-4.isotope-item(data-filter='Type 3')
					+thumbnail-modern({
						img: 'grid-layout-7-370x256',
						original: 'images/gallery-original-7.jpg'
					})

				.col-sm-6.col-lg-4.isotope-item(data-filter='Type 1')
					+thumbnail-modern({
						img: 'grid-layout-8-370x256',
						original: 'images/gallery-original-8.jpg'
					})

				.col-sm-6.col-lg-4.isotope-item(data-filter='Type 2')
					+thumbnail-modern({
						img: 'grid-layout-9-370x256',
						original: 'images/gallery-original-9.jpg'
					})

	// Page Footer
	include ../sections/_footer-linked
