extends  ../_skeleton

//- Includes
block variables
	- var activeCategory = 'pages'
	- var pageName = 'Team'

block page
	include ../sections/_header-thin

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-about-us'
	})

	// 4 Column Layout
	section.section.section-lg.text-center
		.container
			h2.wow-outer.font-weight-bold.text-gray-800.title-indent 4 Column Layout
			include ../includes/_row-team-4-cols

	// Our Team
	include ../sections/_section-our-team

	// Who We Are
	include ../sections/_section-team-3-cols

	// Page Footer
	include ../sections/_footer-linked
