.pricing-group-modern.wow-outer
	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='single-cruise.html') Basic
		table.pricing-modern-table
			tr
				td Family Cruises
			tr
				td European Cruises
			tr
				td Mini Cruises

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 789.00

		a.button.button-primary.button-winona(href='single-cruise.html') Order Now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.05s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='single-cruise.html') Starter
		table.pricing-modern-table
			tr
				td Adventure Cruises
			tr
				td American Cruises
			tr
				td River Cruises

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 1299.00
	
		a.button.button-primary.button-winona(href='single-cruise.html') Order Now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.1s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='single-cruise.html') Standard
		table.pricing-modern-table
			tr
				td Romantic Cruises
			tr
				td Asian Cruises
			tr
				td Sea Cruises

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 2369.00

		a.button.button-primary.button-winona(href='single-cruise.html') Order Now

	// Pricing Modern
	article.pricing-modern.wow.fadeInLeft(data-wow-delay='.15s')
		ul.pricing-modern-rating
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
			li.mdi.mdi-star-outline
		h5.pricing-modern-title: a(href='single-cruise.html') Gold
		table.pricing-modern-table
			tr
				td Luxury Cruises
			tr
				td World Cruises
			tr
				td Ocean Cruises

		p.pricing-modern-price
			span.pricing-modern-price-currency $
			| 6790.00

		a.button.button-primary.button-winona(href='single-cruise.html') Order Now
