.row.row-30
	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight
			h5.pricing-minimal-title: a(href='single-cruise.html') Basic
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 49.00
			.pricing-minimal-divider
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			a.button.button-primary.button-winona(href='single-cruise.html') Order Now
	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight(data-wow-delay='.05s')
			h5.pricing-minimal-title: a(href='single-cruise.html') Standard
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 67.00
			.pricing-minimal-divider
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			a.button.button-primary.button-winona(href='single-cruise.html') Order Now

	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight(data-wow-delay='.1s')
			h5.pricing-minimal-title: a(href='single-cruise.html') Gold
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 86.00
			.pricing-minimal-divider
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			a.button.button-primary.button-winona(href='single-cruise.html') Order Now
