<footer class="section footer-linked bg-gray-750">
  <div class="footer-linked-main">
    <div class="container">
      <div class="row row-50">
        <div class="col-lg-8">
          <h4 class="text-title-footer">Быстрые ссылки</h4>
          <hr class="offset-right-1">
          <div class="row row-20">
            <div class="col-6 col-sm-3">
              <ul class="list list-xs">
                <li><a href="{% url 'programs' %}">Все программы</a></li>
                <li><a href="{% url 'programs' %}">Базовые программы</a></li>
                <li><a href="{% url 'programs' %}">Углубленные программы</a></li>
                <li><a href="{% url 'programs' %}">Подготовка к экзаменам</a></li>
                <li><a href="{% url 'programs' %}">Дополнительные курсы</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-3">
              <ul class="list list-xs">
                <li><a href="{% url 'news' %}">Новости</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'team' %}">Преподаватели</a></li>
                <li><a href="{% url 'testimonials' %}">Отзывы</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-3">
              <ul class="list list-xs">
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                <li><a href="{% url 'about' %}">История школы</a></li>
                <li><a href="{% url 'programs' %}">Образовательные программы</a></li>
                <li><a href="{% url 'team' %}">Наша команда</a></li>
                <li><a href="#" class="js-open-application-modal" data-application-modal-toggle data-application-source="footer" aria-label="Открыть форму заявки">Записаться</a></li>
              </ul>
            </div>
            <div class="col-6 col-sm-3">
              <ul class="list list-xs">
                <li><a href="#">MAX</a></li>
                <li><a href="#">VK</a></li>
                <li><a href="#">Telegram</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-4">
          <h4 class="text-title-footer">Контактная информация</h4>
          <hr>
          <ul class="list-sm">
            <li class="object-inline"><span class="icon icon-md mdi mdi-map-marker"></span><a class="link-default" href="#">г. Москва, ул. Образовательная, д. 1<br> 123456, Россия</a></li>
            <li class="object-inline"><span class="icon icon-md mdi mdi-map-marker"></span><a class="link-default" href="#">Second Branch Address</a></li>
            <li class="object-inline"><span class="icon icon-md mdi mdi-phone"></span>
              <ul class="list-0">
                <li><a class="link-default" href="tel:+79025067444">+7(902)506-74-44</a></li>
                <li><a class="link-default" href="tel:#">+7 (495) 987-65-43</a></li>
              </ul>
            </li>
            <li class="object-inline"><span class="icon icon-md mdi mdi-email"></span><a class="link-default" href="mailto:#">info@school.ru</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-linked-aside">
    <div class="container">
      <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Все права защищены.</span><span>&nbsp;</span><br class="d-sm-none"/><a href="#">Условия использования</a><span> и</span><span>&nbsp;</span><a href="#">Политика конфиденциальности</a></p>
    </div>
  </div>
</footer>
