<section class="section section-lg text-center" id="features">
  <div class="container">
    <div class="row row-30 row-xxl-70 offset-top-2">
      <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
        <article class="box-light wow slideInLeft">
          <div class="box-light-icon linearicons-sun"></div>
          <h4 class="text-gray-800 box-light-title">Опытные преподаватели</h4>
          <p>Мы - команда опытных преподавателей, которые всегда готовы помочь вам выбрать программу вашей мечты.</p>
        </article>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
        <article class="box-light wow slideInLeft" data-wow-delay=".05s">
          <div class="box-light-icon linearicons-ship2"></div>
          <h4 class="text-gray-800 box-light-title">Гибкие цены</h4>
          <p>Наша школа имеет гибкую ценовую политику, которая применяется ко всем нашим предложениям. Независимо от программы, она не будет переоценена.</p>
        </article>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
        <article class="box-light wow slideInLeft" data-wow-delay=".1s">
          <div class="box-light-icon linearicons-map2"></div>
          <h4 class="text-gray-800 box-light-title">Множество программ</h4>
          <p>С момента основания мы предлагаем широкий спектр образовательных программ для всех наших учеников по всему миру.</p>
        </article>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
        <article class="box-light wow slideInLeft" data-wow-delay=".15s">
          <div class="box-light-icon linearicons-mouse-right"></div>
          <h4 class="text-gray-800 box-light-title">Онлайн запись</h4>
          <p>Записаться на программу онлайн никогда не было так просто! Всего пара кликов, чтобы найти то, что вам нужно, и вы готовы!</p>
        </article>
      </div>
    </div>
  </div>
</section>
