{% load static %}
<section class="section section-lg text-center" id="programs">
  <div class="container">
    <h2 class="wow-outer font-weight-bold text-title-block"><span class="wow slideInUp">Популярные дополнительные программы</span></h2>
    <div class="row row-50">
      <div class="col-sm-6 col-lg-4 wow-outer">
        <article class="post-classic wow slideInLeft"><a class="post-classic-media" href="#programs"><img src="{% static 'img/matematika_370X264.jpg' %}" alt="" width="370" height="264"/></a>
          <ul class="post-classic-meta">
            <li><a class="button-winona" href="#">От 8 000₽</a></li>
            <li><time datetime="2018">9 месяцев</time></li>
          </ul>
          <h5 class="post-classic-title text-gray-800"><a href="#programs">Курс подготовки по профильной математике</a></h5>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <article class="post-classic wow slideInLeft" data-wow-delay=".05s"><a class="post-classic-media" href="#programs"><img src="{% static 'img/russkii_370X264.jpg' %}" alt="" width="370" height="264"/></a>
          <ul class="post-classic-meta">
            <li><a class="button-winona" href="#">От 10 000₽</a></li>
            <li><time datetime="2018">6 месяцев</time></li>
          </ul>
          <h5 class="post-classic-title text-gray-800"><a href="#programs">Подготовка к ЕГЭ по русскому языку</a></h5>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <article class="post-classic wow slideInLeft" data-wow-delay=".1s"><a class="post-classic-media" href="#programs"><img src="{% static 'img/eng_370X264.jpg' %}" alt="" width="370" height="264"/></a>
          <ul class="post-classic-meta">
            <li><a class="button-winona" href="#">От 12 000₽</a></li>
            <li><time datetime="2018">12 месяцев</time></li>
          </ul>
          <h5 class="post-classic-title text-gray-800"><a href="#programs">Углубленный курс английского языка</a></h5>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <article class="post-classic wow slideInLeft"><a class="post-classic-media" href="#programs"><img src="{% static 'img/prog_370X264.jpg' %}" alt="" width="370" height="264"/></a>
          <ul class="post-classic-meta">
            <li><a class="button-winona" href="#">От 9 000₽</a></li>
            <li><time datetime="2018">8 месяцев</time></li>
          </ul>
          <h5 class="post-classic-title text-gray-800"><a href="#programs">Курс программирования для начинающих</a></h5>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <article class="post-classic wow slideInLeft" data-wow-delay=".05s"><a class="post-classic-media" href="#programs"><img src="{% static 'img/chem_784X595_new.jpg' %}" alt="" width="370" height="264"/></a>
          <ul class="post-classic-meta">
            <li><a class="button-winona" href="#">От 11 000₽</a></li>
            <li><time datetime="2018">10 месяцев</time></li>
          </ul>
          <h5 class="post-classic-title text-gray-800"><a href="#programs">Подготовка к ЕГЭ по химии</a></h5>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4 wow-outer">
        <article class="post-classic wow slideInLeft" data-wow-delay=".1s"><a class="post-classic-media" href="#programs"><img src="{% static 'images/popular-cruises-6-370x264.jpg' %}" alt="" width="370" height="264"/></a>
          <ul class="post-classic-meta">
            <li><a class="button-winona" href="#">От 7 000₽</a></li>
            <li><time datetime="2018">6 месяцев</time></li>
          </ul>
          <h5 class="post-classic-title text-gray-800"><a href="#programs">Курс развития логического мышления</a></h5>
        </article>
      </div>
    </div>
  </div>
</section>
