{% load static %}
<section class="section section-sm bg-gray-100 bg-image bg-image-3 left-pattern" style="background-image: url({% static 'images/dots-bg-30x4.png' %});">
  <div class="container">
    <div class="row row-50 justify-content-center justify-content-lg-between flex-lg-row-reverse">
      <div class="col-md-10 col-lg-6 col-xl-5">
        <h2 class="wow-outer font-weight-bold text-gray-800"><span class="wow slideInUp">О нашей школе</span></h2>
        <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".05s">Наша школа - это первый образовательный центр, который фокусируется на том, что действительно важно: ваши интересы и ваши цели!</span></p>
        <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".1s">Мы предлагаем инновационный и полезный образовательный опыт, так что вы можете найти идеальную программу всего за пару кликов!</span></p>
        <div class="row justify-content-left wow slideInDown">
          <div class="col-md-4"><img class="quote-light-image" src="{% static 'images/logo-painting-136x61.png' %}" alt="" width="136" height="61"/></div>
          <div class="col-md-8">
            <h5 class="text-gray-800 font-weight-medium">Анна Ермак</h5>
            <h6 class="font-weight-light">Основатель школы</h6>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-lg-6 wow-outer"><video class="img-responsive wow slideInLeft" src="{% static 'img/math_gif.mp4' %}" width="560" height="480" autoplay muted loop playsinline></video></div>
    </div>
  </div>
</section>
