{% load static %}
<!-- Testimonials: белый фон, горизонтальная карусель аватаров и отзывов -->
<section class="section section-lg text-center testimonials-light">
  <div class="container">
    <h2 class="wow-outer font-weight-bold testimonials-heading"><span class="wow slideInUp">Отзывы</span></h2>
    <div class="slick-widget-testimonials wow fadeIn">
      <div class="slick-slider carousel-child" id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="true" data-dots="false" data-swipe="true" data-items="1" data-sm-items="3" data-md-items="5" data-lg-items="5" data-xl-items="5" data-center-mode="true" data-slide-to-scroll="1">
        <div class="item wow-outer"><img class="wow slideInLeft" src="{% static 'img/person-1-96x96.jpg' %}" alt="" width="96" height="96"/></div>
        <div class="item wow-outer"><img class="wow slideInLeft" src="{% static 'img/person-2-96x96.jpg' %}" alt="" width="96" height="96"/></div>
        <div class="item wow-outer"><img class="wow slideInLeft" src="{% static 'images/testimonials-person-4-96x96.jpg' %}" alt="" width="96" height="96"/></div>
        <div class="item wow-outer"><img class="wow slideInLeft" src="{% static 'images/testimonials-person-3-96x96.jpg' %}" alt="" width="96" height="96"/></div>
        <div class="item wow-outer"><img class="wow slideInLeft" src="{% static 'img/person-1-96x96.jpg' %}" alt="" width="96" height="96"/></div>
        <div class="item wow-outer"><img class="wow slideInLeft" src="{% static 'images/testimonials-person-4-96x96.jpg' %}" alt="" width="96" height="96"/></div>
      </div>
      <div class="slick-slider carousel-parent" data-arrows="false" data-loop="true" data-dots="false" data-swipe="false" data-items="1" data-fade="true" data-child="#child-carousel" data-for="#child-carousel" data-autoplay="true">
        <div class="item">
          <blockquote class="quote-light">
            <cite class="quote-light-cite">Мария Смирнова</cite>
            <p class="quote-light-caption">Ученица</p>
            <svg class="quote-light-mark" x="0px" y="0px" width="35px" height="25px" viewbox="0 0 35 25">
              <path d="M27.461,10.206h7.5v15h-15v-15L25,0.127h7.5L27.461,10.206z M7.539,10.206h7.5v15h-15v-15L4.961,0.127h7.5                L7.539,10.206z"></path>
            </svg>
            <div class="quote-light-text">
              <p>Я только что закончила курс и хочу сказать, как много я получила от каждого занятия. Наша программа включала подготовку к ЕГЭ по математике. Какое фантастическое впечатление это было!</p>
            </div>
          </blockquote>
        </div>
        <div class="item">
          <blockquote class="quote-light">
            <cite class="quote-light-cite">Александр Иванов</cite>
            <p class="quote-light-caption">Ученик</p>
            <svg class="quote-light-mark" x="0px" y="0px" width="35px" height="25px" viewbox="0 0 35 25">
              <path d="M27.461,10.206h7.5v15h-15v-15L25,0.127h7.5L27.461,10.206z M7.539,10.206h7.5v15h-15v-15L4.961,0.127h7.5                L7.539,10.206z"></path>
            </svg>
            <div class="quote-light-text">
              <p>Еще раз команда школы была профессиональной и дружелюбной в общении с учениками, и я абсолютно рекомендую их программы и услуги без колебаний.</p>
            </div>
          </blockquote>
        </div>
        <div class="item">
          <blockquote class="quote-light">
            <cite class="quote-light-cite">Елена Петрова</cite>
            <p class="quote-light-caption">Родитель</p>
            <svg class="quote-light-mark" x="0px" y="0px" width="35px" height="25px" viewbox="0 0 35 25">
              <path d="M27.461,10.206h7.5v15h-15v-15L25,0.127h7.5L27.461,10.206z M7.539,10.206h7.5v15h-15v-15L4.961,0.127h7.5                L7.539,10.206z"></path>
            </svg>
            <div class="quote-light-text">
              <p>Изучение английского языка было увлекательным. Это был незабываемый опыт, и общение с преподавателями было конструктивным. Спасибо за лучшее образование и опыт!</p>
            </div>
          </blockquote>
        </div>
        <div class="item">
          <blockquote class="quote-light">
            <cite class="quote-light-cite">Дмитрий Козлов</cite>
            <p class="quote-light-caption">Родитель</p>
            <svg class="quote-light-mark" x="0px" y="0px" width="35px" height="25px" viewbox="0 0 35 25">
              <path d="M27.461,10.206h7.5v15h-15v-15L25,0.127h7.5L27.461,10.206z M7.539,10.206h7.5v15h-15v-15L4.961,0.127h7.5                L7.539,10.206z"></path>
            </svg>
            <div class="quote-light-text">
              <p>Большое спасибо за организацию курса программирования. У нас было фантастическое время. Это был наш первый опыт со школой, но определенно не последний. Мы уже с нетерпением ждем следующего года.</p>
            </div>
          </blockquote>
        </div>
        <div class="item">
          <blockquote class="quote-light">
            <cite class="quote-light-cite">Илья Сидоров</cite>
            <p class="quote-light-caption">Родитель</p>
            <svg class="quote-light-mark" x="0px" y="0px" width="35px" height="25px" viewbox="0 0 35 25">
              <path d="M27.461,10.206h7.5v15h-15v-15L25,0.127h7.5L27.461,10.206z M7.539,10.206h7.5v15h-15v-15L4.961,0.127h7.5                L7.539,10.206z"></path>
            </svg>
            <div class="quote-light-text">
              <p>Мой сын записался на курс в вашей школе, который стал одним из лучших курсов, которые мы прошли. Ваша команда проделала отличную работу по планированию всего, и весь опыт был потрясающим!</p>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
