{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="ru">
  <head>
    <title>{% block title %}Главная - Школа{% endblock %}</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800%7COswald:300,400,500%7CAlegreya+Sans+SC:300,400,700%7COld+Standard+TT:400,700">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="main-styles-link">
    <link rel="stylesheet" href="{% static 'css/theme-colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/testimonials.css' %}">
    <link rel="stylesheet" href="{% static 'css/application-modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/sticky-footer.css' %}">
    {% block extra_css %}{% endblock %}
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page">
      {% include 'includes/header.html' %}
      <main class="page-content">
      {% block content %}
      <section class="section jumbotron-modern bg-gray-700 bg-image" style="background-image: url({% static 'img/wunder-bg1.jpg' %});">
        <div class="jumbotron-modern-inner">
          <div class="container">
            <div class="jumbotron-modern-content">
              <h1 class="text-extra-large-title wow-outer font-weight-bold"><span class="wow slideInUp">Образование</span></h1>
              <h4 class="text-normal font-weight-light wow-outer hero-subtitle"><span class="wow slideInDown hero-subtitle-text">для тех, кто стремится к знаниям</span></h4>
              <div class="jumbotron-bg-text">добро пожаловать</div>
              <div class="rd-form form-lg form-layout-1 rd-mailform">
                <div class="form-wrap form-wrap-select wow fadeInLeftSmall" data-wow-delay=".3s">
                  <select class="form-input select" name="program-type" data-minimum-results-for-search="Infinity">
                    <option value="1">Тип программы</option>
                    <option value="2">Базовые программы</option>
                    <option value="3">Углубленные программы</option>
                    <option value="4">Подготовка к экзаменам</option>
                  </select>
                </div>
                <div class="form-wrap form-wrap-select wow fadeInLeftSmall" data-wow-delay=".3s">
                  <select class="form-input select" name="age-group" data-minimum-results-for-search="Infinity">
                    <option value="1">Возрастная группа</option>
                    <option value="2">7-10 лет</option>
                    <option value="3">11-14 лет</option>
                    <option value="4">15-17 лет</option>
                  </select>
                </div>
                <div class="form-wrap form-wrap-button">
                  <button class="button button-lg button-primary button-winona wow fadeInLeftSmall" type="submit" data-wow-delay=".4s">Найти программу</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Popular Programs-->
      <section class="section section-lg text-center">
        <div class="container">
          <h2 class="wow-outer font-weight-bold text-title-block"><span class="wow slideInUp">Популярные дополнительные программы</span></h2>
          <div class="row row-50">
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Post Classic-->
              <article class="post-classic wow slideInLeft"><a class="post-classic-media" href="/programs/"><img src="{% static 'img/matematika_370X264.jpg' %}" alt="" width="370" height="264"/></a>
                <ul class="post-classic-meta">
                  <li><a class="button-winona" href="#">От 8 000₽</a></li>
                  <li>
                    <time datetime="2018">9 месяцев</time>
                  </li>
                </ul>
                <h5 class="post-classic-title text-gray-800"><a href="/programs/">Курс подготовки по профильной математике</a></h5>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Post Classic-->
              <article class="post-classic wow slideInLeft" data-wow-delay=".05s"><a class="post-classic-media" href="/programs/"><img src="{% static 'img/russkii_370X264.jpg' %}" alt="" width="370" height="264"/></a>
                <ul class="post-classic-meta">
                  <li><a class="button-winona" href="#">От 10 000₽</a></li>
                  <li>
                    <time datetime="2018">6 месяцев</time>
                  </li>
                </ul>
                <h5 class="post-classic-title text-gray-800"><a href="/programs/">Подготовка к ЕГЭ по русскому языку</a></h5>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Post Classic-->
              <article class="post-classic wow slideInLeft" data-wow-delay=".1s"><a class="post-classic-media" href="/programs/"><img src="{% static 'img/eng_370X264.jpg' %}" alt="" width="370" height="264"/></a>
                <ul class="post-classic-meta">
                  <li><a class="button-winona" href="#">От 12 000₽</a></li>
                  <li>
                    <time datetime="2018">12 месяцев</time>
                  </li>
                </ul>
                <h5 class="post-classic-title text-gray-800"><a href="/programs/">Углубленный курс английского языка</a></h5>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Post Classic-->
              <article class="post-classic wow slideInLeft"><a class="post-classic-media" href="/programs/"><img src="{% static 'img/prog_370X264.jpg' %}" alt="" width="370" height="264"/></a>
                <ul class="post-classic-meta">
                  <li><a class="button-winona" href="#">От 9 000₽</a></li>
                  <li>
                    <time datetime="2018">8 месяцев</time>
                  </li>
                </ul>
                <h5 class="post-classic-title text-gray-800"><a href="/programs/">Курс программирования для начинающих</a></h5>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Post Classic-->
              <article class="post-classic wow slideInLeft" data-wow-delay=".05s"><a class="post-classic-media" href="/programs/"><img src="{% static 'img/chem_784X595_new.jpg' %}" alt="" width="370" height="264"/></a>
                <ul class="post-classic-meta">
                  <li><a class="button-winona" href="#">От 11 000₽</a></li>
                  <li>
                    <time datetime="2018">10 месяцев</time>
                  </li>
                </ul>
                <h5 class="post-classic-title text-gray-800"><a href="/programs/">Подготовка к ЕГЭ по химии</a></h5>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow-outer">
              <!-- Post Classic-->
              <article class="post-classic wow slideInLeft" data-wow-delay=".1s"><a class="post-classic-media" href="/programs/"><img src="{% static 'images/popular-cruises-6-370x264.jpg' %}" alt="" width="370" height="264"/></a>
                <ul class="post-classic-meta">
                  <li><a class="button-winona" href="#">От 7 000₽</a></li>
                  <li>
                    <time datetime="2018">6 месяцев</time>
                  </li>
                </ul>
                <h5 class="post-classic-title text-gray-800"><a href="/programs/">Курс развития логического мышления</a></h5>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- What Awaits You-->
      <section class="section section-md bg-image bg-image-1" style="background-image: url({% static 'img/wshkola_bg_1920x456_new_1.jpg' %});">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-sm-9 col-md-7 col-lg-6">
              <div class="wow-outer">
                <div class="wow slideInUp">
                  <h2 class="wow-outer text-white text-title-block-white"><span class="wow slideInUp">Что такое</span></h2>
                </div>
              </div>
              <div class="wow-outer offset-top-4">
                <div class="wow slideInDown">
                  <p class="text-white">...</p><a class="button button-icon button-icon-left button-md button-primary button-winona button-secondary" href="https://youtu.be/19EendeMyi4" data-lightgallery="item"><span class="icon mdi mdi-play"></span>Смотреть</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About our School-->
      <section class="section section-sm bg-gray-100 bg-image bg-image-3 left-pattern" style="background-image: url({% static 'images/dots-bg-30x4.png' %});">
        <div class="container">
          <div class="row row-50 justify-content-center justify-content-lg-between flex-lg-row-reverse">
            <div class="col-md-10 col-lg-6 col-xl-5">
              <h2 class="wow-outer font-weight-bold text-gray-800"><span class="wow slideInUp">О нашей школе</span></h2>
              <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".05s">Наша школа - это первый образовательный центр, который фокусируется на том, что действительно важно: ваши интересы и ваши цели!</span></p>
              <p class="wow-outer"><span class="wow slideInDown" data-wow-delay=".1s">Мы предлагаем инновационный и полезный образовательный опыт, так что вы можете найти идеальную программу всего за пару кликов!</span></p>
              <div class="row justify-content-left wow slideInDown">
                <div class="col-md-4"><img class="quote-light-image" src="{% static 'images/logo-painting-136x61.png' %}" alt="" width="136" height="61"/>
                </div>
                <div class="col-md-8">
                  <h5 class="text-gray-800 font-weight-medium">Анна Ермак</h5>
                  <h6 class="font-weight-light">Основатель школы</h6>
                </div>
              </div>
            </div>
            <div class="col-md-10 col-lg-6 wow-outer"><video class="img-responsive wow slideInLeft" src="{% static 'img/math_gif.mp4' %}" width="560" height="480" autoplay muted loop playsinline></video>
            </div>
          </div>
        </div>
      </section>
      <!-- Light 4 Columns Layout-->
      <section class="section section-lg text-center">
        <div class="container">
          <div class="row row-30 row-xxl-70 offset-top-2">
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft">
                <div class="box-light-icon linearicons-sun"></div>
                <h4 class="text-gray-800 box-light-title">Опытные преподаватели</h4>
                <p>Мы - команда опытных преподавателей, которые всегда готовы помочь вам выбрать программу вашей мечты.</p>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft" data-wow-delay=".05s">
                <div class="box-light-icon linearicons-ship2"></div>
                <h4 class="text-gray-800 box-light-title">Гибкие цены</h4>
                <p>Наша школа имеет гибкую ценовую политику, которая применяется ко всем нашим предложениям. Независимо от программы, она не будет переоценена.</p>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft" data-wow-delay=".1s">
                <div class="box-light-icon linearicons-map2"></div>
                <h4 class="text-gray-800 box-light-title">Множество программ</h4>
                <p>С момента основания мы предлагаем широкий спектр образовательных программ для всех наших учеников по всему миру.</p>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
              <!-- Box Light-->
              <article class="box-light wow slideInLeft" data-wow-delay=".15s">
                <div class="box-light-icon linearicons-mouse-right"></div>
                <h4 class="text-gray-800 box-light-title">Онлайн запись</h4>
                <p>Записаться на программу онлайн никогда не было так просто! Всего пара кликов, чтобы найти то, что вам нужно, и вы готовы!</p>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- Section Divider (between content and testimonials)-->
      <section class="section section-sm bg-image bg-image-1 section-divider" style="background-image: url({% static 'img/bg_class_1920X719.jpg' %});"></section>
      {% include 'includes/testimonials.html' %}
      <!-- Newsletter-->
      <section class="section section-lg bg-image bg-image-light" style="background-image: url({% static 'img/news_back_1920X432.jpg' %});">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6">
              <h2 class="wow-outer text-title-block-white"><span class="wow slideInUp">Подписка на новости</span></h2>
              <p class="text-white text-left wow-outer"><span class="wow slideInLeft">Будьте в курсе наших новостей и обновлений. Введите ваш e-mail и подпишитесь на рассылку.</span></p>
              <!-- RD Mailform-->
              <form class="rd-form rd-mailform form-inline wow fadeIn" data-wow-delay=".2s" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="#">
                <div class="form-wrap">
                  <input class="form-input" id="subscribe-form-3-email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="subscribe-form-3-email">Ваш e-mail</label>
                </div>
                <div class="form-button">
                  <button class="button button-primary button-winona button-secondary" type="submit">Подписаться</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}
      </main>
      <!-- Page Footer-->
      <footer class="section footer-linked bg-gray-750">
        <div class="footer-linked-main">
          <div class="container">
            <div class="row row-50">
              <div class="col-lg-8">
                <h4 class="text-title-footer">Быстрые ссылки</h4>
                <hr class="offset-right-1">
                <div class="row row-20">
                  <div class="col-6 col-sm-3">
                    <ul class="list list-xs">
                      <li><a href="{% url 'programms' %}">Все программы</a></li>
                      <li><a href="{% url 'programms' %}">Базовые программы</a></li>
                      <li><a href="{% url 'programms' %}">Углубленные программы</a></li>
                      <li><a href="{% url 'programms' %}">Подготовка к экзаменам</a></li>
                      <li><a href="{% url 'programms' %}">Дополнительные курсы</a></li>
                    </ul>
                  </div>
            <div class="col-6 col-sm-3">
              <ul class="list list-xs">
                <li><a href="{% url 'news' %}">Новости</a></li>
                <li><a href="/about/">О нас</a></li>
                <li><a href="{% url 'team' %}">Преподаватели</a></li>
                <li><a href="/testimonials/">Отзывы</a></li>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
              </ul>
            </div>
                  <div class="col-6 col-sm-3">
                    <ul class="list list-xs">
                      <li><a href="{% url 'contacts' %}">Контакты</a></li>
                      <li><a href="/about/">История школы</a></li>
                      <li><a href="{% url 'programms' %}">Образовательные программы</a></li>
                      <li><a href="{% url 'team' %}">Наша команда</a></li>
                      <li><a href="{% url 'contacts' %}">Записаться</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-sm-3">
                    <ul class="list list-xs">
                      <li><a href="#">ООО"ВУНДЕР"</a></li>
                      <li><a href="#">ИНН 2538130699</a></li>
                      <li><a href="#">ОГРНИП 1092538005317</a></li>
                      <li><a href="#">MAX</a></li>
                      <li><a href="#">VK</a></li>
                      <li><a href="#">Telegram</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-4">
                <h4 class="text-title-footer">Контактная информация</h4>
                <hr>
                <ul class="list-sm">
                  <li class="object-inline"><span class="icon icon-md mdi mdi-map-marker"></span><a class="link-default" href="#">г. Владивосток, Океанский проспект 101 А</a></li>
                  <li class="object-inline"><span class="icon icon-md mdi mdi-map-marker"></span><a class="link-default" href="#">г. Владивосток, ЖК Лидер, ул.Адмирала Горшкова 52 корпус 1 </a></li>
                  <li class="object-inline"><span class="icon icon-md mdi mdi-phone"></span>
                    <ul class="list-0">
                      <li><a class="link-default" href="tel:#">+7 (902) 506-74-44</a></li>
                      <li><a class="link-default" href="tel:#">+7 (902) 557-37-19</a></li>
                    </ul>
                  </li>
                  <li class="object-inline"><span class="icon icon-md mdi mdi-email"></span><a class="link-default" href="mailto:#">ask@wunder.education</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-linked-aside">
          <div class="container">
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Все права защищены.</span><span>&nbsp;</span><br class="d-sm-none"/><a href="#">Условия использования</a><span> и</span><span>&nbsp;</span><a href="#">Политика конфиденциальности</a></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="preloader">
      <div class="preloader-logo"><img src="{% static 'img/wlogo_135x43.jpg' %}" alt="" width="135" height="43" srcset="{% static 'img/wlogo_135x43.jpg' %} 2x"/>
      </div>
      <div class="preloader-body">
        <div id="loadingProgressG">
          <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Application modal (pencil button) -->
    <div class="application-modal-overlay" id="application-modal-overlay" aria-hidden="true">
      <div class="application-modal-content application-modal" role="dialog" aria-labelledby="application-modal-title">
        <div class="application-modal-header">
          <h2 id="application-modal-title">Оставить заявку</h2>
          <button type="button" class="application-modal-close" id="application-modal-close" aria-label="Закрыть">×</button>
        </div>
        <div class="application-modal-success" id="application-modal-success">Заявка отправлена. Мы свяжемся с вами.</div>
        <form class="application-form" id="application-form" novalidate>
          {% csrf_token %}
          <div class="application-form-group">
            <label for="application-form-name">Имя</label>
            <input type="text" id="application-form-name" name="name" required placeholder="Введите имя">
          </div>
          <div class="application-form-group">
            <label for="application-form-phone">Телефон</label>
            <input type="tel" id="application-form-phone" name="phone" required placeholder="Введите телефон">
          </div>
          <div class="application-form-group">
            <label for="application-form-email">E-mail</label>
            <input type="email" id="application-form-email" name="email" required placeholder="Введите e-mail">
          </div>
          <div class="application-form-group">
            <label for="application-form-message">Сообщение</label>
            <textarea id="application-form-message" name="message" rows="4" placeholder="Введите сообщение"></textarea>
          </div>
          <button type="submit" class="button button-block button-primary button-winona btn-primary">Отправить заявку</button>
        </form>
      </div>
    </div>
    <!-- Javascript-->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/testimonials.js' %}"></script>
    {% block extra_js %}{% endblock %}
    <!-- Application modal: open on pencil button, close on overlay/ESC/close btn, lock body scroll -->
    <script>
      (function() {
        document.addEventListener('DOMContentLoaded', function() {
          var overlay = document.getElementById('application-modal-overlay');
          var openBtn = document.querySelector('[data-application-modal-toggle]');
          var closeBtn = document.getElementById('application-modal-close');
          var form = document.getElementById('application-form');
          var successEl = document.getElementById('application-modal-success');
          if (!overlay || !openBtn) return;

          function openModal() {
            overlay.classList.add('active');
            overlay.setAttribute('aria-hidden', 'false');
            document.body.style.overflow = 'hidden';
          }

          function closeModal() {
            overlay.classList.remove('active');
            overlay.setAttribute('aria-hidden', 'true');
            document.body.style.overflow = '';
          }

          openBtn.addEventListener('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            e.stopImmediatePropagation();
            openModal();
          }, true);

          if (closeBtn) closeBtn.addEventListener('click', closeModal);

          overlay.addEventListener('click', function(e) {
            if (e.target === overlay) closeModal();
          });

          document.addEventListener('keydown', function(e) {
            if (e.key === 'Escape' && overlay.classList.contains('active')) closeModal();
          });

          if (form) {
            form.addEventListener('submit', function(e) {
              e.preventDefault();
              var data = new FormData(form);
              var obj = {};
              data.forEach(function(v, k) { obj[k] = v; });
              console.log('Application form data:', obj);
              successEl.classList.add('visible');
              setTimeout(function() {
                successEl.classList.remove('visible');
                closeModal();
              }, 2500);
            });
          }
        });
      })();
    </script>
  </body>
</html>
