{% extends "base.html" %}
{% load static %}

{% block title %}Новости — Школа{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/programms.css' %}">
{% endblock %}

{% block content %}
      <section class="breadcrumbs-custom bg-image context-dark" style="background-image: url({% static 'images/bg-about-us.jpg' %});">
        <div class="breadcrumbs-custom-inner">
          <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
              <h6 class="breadcrumbs-custom-subtitle title-decorated">Блог</h6>
              <h1 class="breadcrumbs-custom-title">Новости</h1>
            </div>
            <ul class="breadcrumbs-custom-path">
              <li><a href="{% url 'home' %}">Главная</a></li>
              <li><a href="#">Блог</a></li>
              <li class="active">Новости</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section section-lg">
        <div class="container">
          <article class="blog-layout">
            <div class="blog-layout-main">
              <div class="row row-50 row-xxl-70">
                <div class="col-sm-6">
                  <article class="post-classic"><a class="post-classic-media" href="#"><img src="{% static 'images/popular-cruises-1-370x264.jpg' %}" alt="" width="370" height="264"/></a>
                    <ul class="post-classic-meta">
                      <li><a class="button-winona" href="#">Новости</a></li>
                      <li>
                        <time datetime="2025-02-15">15 февраля 2025</time>
                      </li>
                    </ul>
                    <h4 class="post-classic-title"><a href="#">Родительское собрание в конце месяца</a></h4>
                    <p>Приглашаем родителей учащихся на общее собрание. Обсудим итоги четверти, планы на весеннюю сессию и вопросы организации выпускных экзаменов.</p>
                    <a class="button button-sm button-primary button-winona" href="#">Читать далее</a>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="post-classic"><a class="post-classic-media" href="#"><img src="{% static 'images/popular-cruises-2-370x264.jpg' %}" alt="" width="370" height="264"/></a>
                    <ul class="post-classic-meta">
                      <li><a class="button-winona" href="#">Новости</a></li>
                      <li>
                        <time datetime="2025-02-12">12 февраля 2025</time>
                      </li>
                    </ul>
                    <h4 class="post-classic-title"><a href="#">Открытый урок по математике</a></h4>
                    <p>В среду, 19 февраля, состоится открытый урок для родителей и гостей. Покажем, как проходят занятия в группах подготовки к ЕГЭ и ответим на вопросы.</p>
                    <a class="button button-sm button-primary button-winona" href="#">Читать далее</a>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="post-classic"><a class="post-classic-media" href="#"><img src="{% static 'images/popular-cruises-3-370x264.jpg' %}" alt="" width="370" height="264"/></a>
                    <ul class="post-classic-meta">
                      <li><a class="button-winona" href="#">Новости</a></li>
                      <li>
                        <time datetime="2025-02-10">10 февраля 2025</time>
                      </li>
                    </ul>
                    <h4 class="post-classic-title"><a href="#">Новый набор на подготовку к ОГЭ и ЕГЭ</a></h4>
                    <p>Открыта запись в группы на 2025/26 учебный год. Осталось несколько мест по математике, русскому языку и английскому. Занятия стартуют в марте.</p>
                    <a class="button button-sm button-primary button-winona" href="#">Читать далее</a>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="post-classic"><a class="post-classic-media" href="#"><img src="{% static 'images/popular-cruises-4-370x264.jpg' %}" alt="" width="370" height="264"/></a>
                    <ul class="post-classic-meta">
                      <li><a class="button-winona" href="#">Новости</a></li>
                      <li>
                        <time datetime="2025-02-08">8 февраля 2025</time>
                      </li>
                    </ul>
                    <h4 class="post-classic-title"><a href="#">Изменения в расписании на март</a></h4>
                    <p>Опубликовано обновлённое расписание занятий на март. Обратите внимание на перенос занятий в праздничные дни и дополнительные консультации перед экзаменами.</p>
                    <a class="button button-sm button-primary button-winona" href="#">Читать далее</a>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="post-classic"><a class="post-classic-media" href="#"><img src="{% static 'images/popular-cruises-5-370x264.jpg' %}" alt="" width="370" height="264"/></a>
                    <ul class="post-classic-meta">
                      <li><a class="button-winona" href="#">Новости</a></li>
                      <li>
                        <time datetime="2025-02-05">5 февраля 2025</time>
                      </li>
                    </ul>
                    <h4 class="post-classic-title"><a href="#">Региональная олимпиада по математике</a></h4>
                    <p>Наши ученики приняли участие в региональном этапе олимпиады. Поздравляем призёров и благодарим всех за подготовку. Итоги и разбор заданий — на этой неделе.</p>
                    <a class="button button-sm button-primary button-winona" href="#">Читать далее</a>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="post-classic"><a class="post-classic-media" href="#"><img src="{% static 'images/popular-cruises-6-370x264.jpg' %}" alt="" width="370" height="264"/></a>
                    <ul class="post-classic-meta">
                      <li><a class="button-winona" href="#">Новости</a></li>
                      <li>
                        <time datetime="2025-02-01">1 февраля 2025</time>
                      </li>
                    </ul>
                    <h4 class="post-classic-title"><a href="#">Мастер-класс по написанию сочинения</a></h4>
                    <p>В субботу, 22 февраля, приглашаем старшеклассников на бесплатный мастер-класс по итоговому сочинению. Разберём критерии и типичные ошибки, дадим практические советы.</p>
                    <a class="button button-sm button-primary button-winona" href="#">Читать далее</a>
                  </article>
                </div>
              </div>
              <div class="pagination justify-content-sm-center justify-content-md-start">
                <div class="page-item active"><a class="page-link button-winona" href="#">1</a></div>
                <div class="page-item"><a class="page-link button-winona" href="#">2</a></div>
                <div class="page-item"><a class="page-link button-winona" href="#">3</a></div>
                <div class="page-item"><a class="page-link button-winona" href="#">4</a></div>
              </div>
            </div>
            <div class="blog-layout-aside">
              <div class="blog-layout-aside-item">
                <p class="blog-layout-aside-title">Search Blog</p>
                <form class="rd-form rd-search rd-search-classic" action="#" method="GET">
                  <div class="form-wrap">
                    <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off">
                    <label class="form-label" for="rd-search-form-input">Search</label>
                  </div>
                  <button class="rd-search-submit" type="submit"></button>
                </form>
              </div>
              <div class="blog-layout-aside-item">
                <p class="blog-layout-aside-title">Archive</p>
                <ul class="list-marked">
                  <li><a href="#">May 2018</a></li>
                  <li><a href="#">April 2018</a></li>
                  <li><a href="#">March 2018</a></li>
                  <li><a href="#">February 2018</a></li>
                  <li><a href="#">January 2018</a></li>
                </ul>
              </div>
              <div class="blog-layout-aside-item">
                <p class="blog-layout-aside-title">About Us</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
              <div class="blog-layout-aside-item">
                <p class="blog-layout-aside-title">Categories</p>
                <ul class="list-marked">
                  <li><a href="#">News</a></li>
                  <li><a href="#">Cruises</a></li>
                  <li><a href="#">Traveling</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Ships</a></li>
                </ul>
              </div>
              <div class="blog-layout-aside-item">
                <p class="blog-layout-aside-title">Tags</p>
                <ul class="list-inline-comma">
                  <li><a href="#">Cruises</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Ships</a></li>
                  <li><a href="#">Recommendations</a></li>
                  <li><a href="#">Traveling</a></li>
                  <li><a href="#">News</a></li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </section>
{% endblock %}
