{% extends "base.html" %}
{% load static %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<section class="section section-lg">
  <div class="container">
    <h2 class="font-weight-bold text-gray-800">Политика конфиденциальности (Политика в отношении обработки персональных данных)</h2>

    <p>
      Настоящая Политика конфиденциальности <br> 
      (Политика в отношении обработки персональных данных) (далее — «Политика»)
      подготовлена в соответствии с п. 2 ч. 1 ст. 18.1 Федерального закона Российской Федерации «О персональных данных»
      № 152-ФЗ от 27 июля 2006 года (далее — «152-ФЗ») и определяет позицию ООО  «ВУНДЕР» (далее — «Вундер»)
      в области обработки и защиты персональных данных, соблюдения прав и свобод каждого человека и, в особенности, права на
      неприкосновенность частной жизни, личную и семейную тайну.
    </p>

    <p>
      Настоящая Политика применяется по отношению ко всем персональным данным (далее — «ПДн»), которые «Вундер» собирает
      или получает оффлайн или онлайн, включая ПДн, собранные или предоставленные через веб-сайты и посадочные страницы
      «Вундер» (далее — «Сайт»; любые мобильные сайты, приложения, виджеты и прочие интерактивные мобильные функции
      (совместно именуемые как «Приложения»); на страницах в социальных медиа, управляемых «Вундер» (далее — «Страницы в социальных медиа»);
      а также с помощью электронных писем в формате HTML, которые «Вундер» отправляет субъектам ПДн (совместно именуемые «Интернет-ресурсы»).
      Посетители Интернет-ресурсов «Вундер» именуются «Пользователями».
    </p>

    <p>Посещая Интернет-ресурсы, Вы принимаете и соглашаетесь с правилами, описанными в данной Политике.</p>
    <p>Регистрируясь на Интернет-ресурсах, Вы даете свое согласие на обработку Ваших персональных данных и получение информационных и рекламных сообщений от «Вундер».</p>

    <p>Согласие осуществляется посредством совершения последовательных действий, переход Пользователя к каждому следующему действию означает и подтверждает совершение предыдущего:</p>
    <ul>
      <li>ознакомления с условиями настоящей Политики;</li>
      <li>если Пользователю менее 18 лет, ознакомление с условиями настоящей Политики законного представителя такого Пользователя;</li>
      <li>внесения достоверных и актуальных сведений в регистрационную форму;</li>
      <li>проставления Пользователем (или его законным представителем, если Пользователю менее 18 лет) символа в специальном поле перед заголовком «Я подтверждаю принятие Политики конфиденциальности и согласие на обработку персональных данных» в регистрационной форме;</li>
      <li>нажатием Пользователем (или его законным представителем, если Пользователю менее 18 лет) кнопки «Зарегистрироваться» или «Отправить» в заполненной регистрационной форме.</li>
    </ul>

    <p><strong>ВНИМАНИЕ:</strong> Если Вы не согласны с условиями настоящей Политики полностью или в любой части, не регистрируйтесь на Сайте и не используйте его сервисы.</p>

    <h4 class="text-gray-800 font-weight-medium">Персональные данные и их использование</h4>

    <p>Персональные данные — это любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу — субъекту персональных данных.</p>

    <p>
      Обработка персональных данных означает запись, систематизацию, накопление, хранение, уточнение (обновление, изменение),
      извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление,
      уничтожение персональных данных, не подпадающих под специальные категории, на обработку которых, согласно действующему
      законодательству Российской Федерации, требуется письменное согласие Пользователя. Обработка персональных данных Пользователя
      производится «Вундер» в соответствии с законодательством РФ.
    </p>

    <p>Пользователь дает «Вундер» свое согласие на обработку персональных данных, предоставленных при регистрации, а именно:</p>
    <ul>
      <li>фамилия, имя, отчество;</li>
      <li>адрес электронной почты;</li>
      <li>контактный телефон;</li>
      <li>класс обучения;</li>
      <li>название учебного заведения;</li>
      <li>населенный пункт;</li>
      <li>ссылки на профили (страницы) в социальных сетях;</li>
      <li>иные данные (данные об образовании, подтверждающие документы: олимпиадные достижения, спортивные результаты, участие в конкурсах и соревнованиях и т.д.).</li>
    </ul>

    <p><strong>Способы получения ПДн:</strong></p>
    <ul>
      <li><strong>Через Интернет-ресурсы:</strong> например, когда Вы подписываетесь на новостную рассылку, оставляете заявку на обучение или записываетесь на мероприятие.</li>
      <li><strong>Оффлайн:</strong> например, когда Вы обращаетесь в приемную комиссию или контактируете с представителем «Вундер» на выставках и конференциях.</li>
      <li><strong>Из других источников:</strong> таких как общедоступные базы данных; партнеры по совместному маркетингу.</li>
    </ul>

    <h4 class="text-gray-800 font-weight-medium">Дополнительная информация о пользователях</h4>
    <p>Помимо Персональных данных Пользователей мы можем получать дополнительную информацию следующими средствами:</p>
    <ul>
      <li><strong>Через браузер или устройство Пользователя:</strong> определенная информация собирается большинством браузеров или автоматически через устройство выхода в интернет. «Вундер» использует данную информацию в целях статистики, а также чтобы убедиться, что Сайты работают корректно.</li>
      <li><strong>Через лог-файлы сервера:</strong> IP-адрес Пользователя идентифицируется и записывается автоматически в лог-файлах сервера «Вундер» всегда, когда Вы посещаете Интернет-ресурсы, также как время посещения и посещенные страницы.</li>
      <li><strong>При использовании куки-файлов (cookie files):</strong> куки-файлы позволяют веб-серверу переносить данные на компьютер либо на устройство для ведения протокола и других целей. Если Вы хотите заблокировать возможность «Вундер» получать Вашу информацию с помощью куки-файлов, Вы можете изменить настройки Вашего веб-браузера.</li>
      <li><strong>При использовании Вами Приложения:</strong> когда Вы скачиваете и используете Приложение, «Вундер» и его сервис-провайдеры могут отслеживать и собирать данные об использовании Приложения, даты и время обращения Приложения на Вашем устройстве к нашим серверам, а также данные о том, какая информация и файлы были загружены в Приложение, на основе номера Вашего устройства.</li>
      <li><strong>Физическое местоположение:</strong> «Вундер» может получать информацию о физическом местоположении Вашего устройства.</li>
    </ul>

    <h4 class="text-gray-800 font-weight-medium">Цели использования Персональных данных</h4>
    <p>«Вундер» использует Персональные данные в следующих целях:</p>
    <ul>
      <li>для выполнения условий соглашений, стороной которого являетесь Вы;</li>
      <li>чтобы отвечать на Ваши запросы и выполнять Ваши заявки;</li>
      <li>чтобы отправлять Вам административную информацию, например информацию в отношении Сайта и изменений наших условий и правил;</li>
      <li>чтобы предоставлять Вам обновления и новости в отношении наших услуг;</li>
      <li>чтобы Вы могли пользоваться сервисами, в рамках которых Вы можете размещать информацию и материалы (включая Страницы в Социальных Медиа);</li>
      <li>в целях осуществления «Вундер» своих функций, включая анализирование и управление деятельностью, исследование рынка, аудит, разработку новых продуктов, расширение Сайта, улучшение качества наших услуг и т.д.</li>
    </ul>

    <p>
      Пользователь может в любое время отозвать согласие на обработку персональных данных, направив «Вундер» соответствующее уведомление
      на адрес, указанный в разделе «Контакты» Политики заказным письмом с уведомлением о вручении.
    </p>

    <h4 class="text-gray-800 font-weight-medium">Передача персональных данных</h4>
    <p>
      Для предоставления Пользователям образовательных услуг, консультирования по вопросам образования, приема заявок на обучение и иных целей
      «Вундер» может поручать обработку ПДн третьим лицам в соответствии с законодательством Российской Федерации и при наличии необходимых правовых оснований.
    </p>

    <p>
      Трансграничная передача персональных данных осуществляется в любом из случаев: наличия от Вас согласия в письменной форме на трансграничную передачу;
      либо исполнения договора, стороной которого являетесь Вы. Трансграничная передача данных будет осуществляться в соответствии с применимым законодательством,
      и «Вундер» предпримет необходимые меры для обеспечения достаточного уровня защиты.
    </p>

    <h4 class="text-gray-800 font-weight-medium">Безопасность</h4>
    <p>
      При обработке ПДн «Вундер» принимает необходимые правовые, организационные и технические меры для защиты ПДн от неправомерного или случайного доступа к ним,
      уничтожения, изменения, блокирования, копирования, предоставления, распространения ПДн, а также от иных неправомерных действий в отношении ПДн.
    </p>

    <p>К таким мерам в соответствии с 152-ФЗ, в частности, относятся:</p>
    <ul>
      <li>назначение ответственного за обработку ПДн;</li>
      <li>регистрация в реестре операторов персональных данных (при применимости);</li>
      <li>определение угроз безопасности ПДн при их обработке в информационных системах ПДн;</li>
      <li>применение организационных и технических мер по обеспечению безопасности ПДн;</li>
      <li>контроль фактов несанкционированного доступа к ПДн и принятие мер по недопущению подобных инцидентов;</li>
      <li>установление правил доступа к персональным данным и контроль за принимаемыми мерами по обеспечению безопасности ПДн.</li>
    </ul>

    <h4 class="text-gray-800 font-weight-medium">Права субъектов ПДн в части обработки ПДн</h4>
    <p>Субъект ПДн имеет право получить от «Вундер» сведения, предусмотренные 152-ФЗ, в том числе:</p>
    <ul>
      <li>подтверждение факта обработки ПДн и сведения о наличии ПДн;</li>
      <li>сведения о правовых основаниях и целях обработки ПДн;</li>
      <li>перечень обрабатываемых ПДн и информацию об источнике их получения;</li>
      <li>сведения о сроках обработки ПДн, в том числе о сроках их хранения;</li>
      <li>информацию об осуществляемой или о предполагаемой трансграничной передаче ПДн;</li>
      <li>уточнение своих ПДн, их блокирование или уничтожение в предусмотренных законом случаях;</li>
      <li>отозвать свое согласие на обработку ПДн;</li>
      <li>обжаловать действия или бездействие «Вундер» в Роскомнадзор или в судебном порядке.</li>
    </ul>

    <h4 class="text-gray-800 font-weight-medium">Сайты третьих лиц</h4>
    <p>
      В настоящей Политике «Вундер» не рассматривает и не несет ответственности за конфиденциальность, информацию или другие аспекты деятельности любых третьих лиц,
      включая любое третье лицо, управляющее любым сайтом, ссылка на который содержится на Интернет-ресурсах «Вундер». Наличие ссылки не подразумевает поддержку нами сайтов,
      на которые ведет ссылка.
    </p>

    <h4 class="text-gray-800 font-weight-medium">Срок хранения</h4>
    <p>«Вундер» хранит Ваши ПДн до выполнения одного из условий:</p>
    <ul>
      <li>достижения целей обработки Ваших ПДн;</li>
      <li>выполнения условий договора, стороной которого являетесь Вы;</li>
      <li>окончания срока, указанного в согласии на обработку ПДн, полученного от Вас.</li>
    </ul>

    <h4 class="text-gray-800 font-weight-medium">Использование сайтов несовершеннолетними</h4>
    <p>
      «Вундер» предоставляет образовательные услуги для детей, однако приобретение таких услуг осуществляется их законными представителями.
      В целях защиты личных данных несовершеннолетних, необходимо согласие родителей Пользователей, не достигших 18 лет, регистрирующихся на Сайте,
      подающих заявку на обучение или принимающих участие в очных или дистанционных программах «Вундер».
    </p>

    <p>
      Настоящая Политика может быть пересмотрена при изменении законодательства РФ, по решению руководства «Вундер», при изменении целей обработки ПДн,
      при изменении организационной структуры или технологий обработки ПДн. Любые изменения вступают в силу с момента публикации Политики на Сайте.
      Использование Вами Сайта после таких изменений означает, что Вы принимаете измененную Политику.
    </p>

    <h4 class="text-gray-800 font-weight-medium">Контакты</h4>
    <p>
      Лица, чьи ПДн обрабатываются «Вундер», могут получить разъяснения по вопросам обработки своих ПДн, обратившись лично или направив соответствующий письменный запрос
      по адресу местонахождения оператора.
    </p>
    <p>
      По вопросам обработки персональных данных: <a href="mailto:wunder.vl@mail.ru">wunder.vl@mail.ru</a>
    </p>
  </div>
</section>
{% endblock %}

