{% extends "base.html" %}
{% load static %}

{% block title %}Условия использования{% endblock %}

{% block content %}
<section class="section section-lg">
  <div class="container">
    <h2 class="font-weight-bold text-gray-800">Согласие на обработку персональных данных</h2>

    <p>
      Настоящим я (далее — «Субъект Персональных Данных»), во исполнение требований Федерального закона от 27.07.2006 г. № 152-ФЗ
      «О персональных данных» (с изменениями и дополнениями) свободно, своей волей и в своем интересе даю свое согласие
      ООО «Вундер» (далее — «Оператор») на обработку своих персональных данных, указанных при заполнении веб-форм на сайте и его поддоменах
      (далее — «Сайт»), направляемых (заполненных) с использованием Сайта.
    </p>

    <p>Под персональными данными я понимаю любую информацию, относящуюся ко мне как к Субъекту Персональных Данных, в том числе:</p>
    <ul>
      <li>фамилия, имя, отчество;</li>
      <li>адрес электронной почты;</li>
      <li>контактный телефон;</li>
      <li>класс обучения;</li>
      <li>название учебного заведения;</li>
      <li>населенный пункт;</li>
      <li>ссылки на профили (страницы) в социальных сетях;</li>
      <li>иные данные (данные об образовании, подтверждающие документы: олимпиадные достижения, спортивные результаты, участие в конкурсах и соревнованиях и т.д.).</li>
    </ul>

    <p>
      Под обработкой персональных данных я понимаю сбор, систематизацию, накопление, уточнение, обновление, изменение, использование,
      распространение, передачу, в том числе трансграничную, обезличивание, блокирование, уничтожение, бессрочное хранение, и любые другие действия
      (операции) с персональными данными.
    </p>

    <p>
      Обработка персональных данных Субъекта Персональных Данных осуществляется исключительно в целях регистрации Субъекта Персональных Данных в базе данных
      Оператора с последующим направлением Субъекту Персональных Данных сообщений по электронной почте, смс-уведомлений, звонков, в том числе рекламного содержания,
      от Оператора и/или его субподрядчиков, информационных и новостных рассылок, приглашений на мероприятия и другой информации рекламно-новостного содержания,
      а также с целью подтверждения личности Субъекта Персональных Данных при посещении мероприятий.
    </p>

    <p>
      Датой выдачи согласия на обработку персональных данных Субъекта Персональных Данных является дата отправки веб-формы с Сайта.
    </p>

    <p>
      Обработка персональных данных Субъекта Персональных Данных может осуществляться с помощью средств автоматизации и/или без использования средств автоматизации
      в соответствии с действующим законодательством РФ и внутренними положениями Оператора.
    </p>

    <p>
      Оператор принимает необходимые правовые, организационные и технические меры или обеспечивает их принятие для защиты персональных данных от неправомерного
      или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных
      неправомерных действий в отношении персональных данных, а также принимает на себя обязательство сохранения конфиденциальности персональных данных
      Субъекта Персональных Данных.
    </p>

    <p>Я ознакомлен(а), что:</p>
    <ul>
      <li>настоящее согласие на обработку моих персональных данных действует в течение 20 (двадцати) лет с момента отправки веб-формы, если иное не будет предусмотрено действующим законодательством или локальными нормативными актами Оператора;</li>
      <li>согласие может быть отозвано мною на основании письменного заявления в произвольной форме;</li>
      <li>предоставление персональных данных третьих лиц без их согласия влечет ответственность в соответствии с действующим законодательством Российской Федерации.</li>
    </ul>
  </div>
</section>
{% endblock %}

