{% extends 'base.html' %}
{% load static %}

{% block title %}Отзывы - Школа{% endblock %}

{% block content %}
{% include 'includes/testimonials.html' %}

<section class="testimonials-page-links section breadcrumbs-custom bg-image context-dark">
  <div class="breadcrumbs-custom-inner">
    <div class="container breadcrumbs-custom-container">
      <div class="breadcrumbs-custom-main">
        <h6 class="breadcrumbs-custom-subtitle title-decorated">Навигация</h6>
        <h2 class="breadcrumbs-custom-title">Узнайте больше</h2>
      </div>
      <ul class="breadcrumbs-custom-path">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="/programs/">Программы</a></li>
        <li><a href="{% url 'about' %}">О нас</a></li>
        <li><a href="{% url 'contacts' %}">Контакты</a></li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
