footer.section.footer-linked.bg-gray-750
	.footer-linked-main
		.container
			.row.row-50
				.col-lg-8
					h4.text-title-footer Quick Links
					hr.offset-right-1
					.row.row-20
						.col-6.col-sm-3
							ul.list.list-xs
								li: a(href='cruises.html') All Cruises
								li: a(href='single-cruise.html') Classic Cruises
								li: a(href='single-cruise.html') Luxury Cruises
								li: a(href='single-cruise.html') Family Cruises
								li: a(href='single-cruise.html') Adventure Cruises

						.col-6.col-sm-3
							ul.list.list-xs
								li: a(href='#') News
								li: a(href='about-us.html') About Us
								li: a(href='#') Login Page
								li: a(href='#') Registration Page
								li: a(href='careers.html') Careers

						.col-6.col-sm-3
							ul.list.list-xs
								li: a(href='contacts.html') Contacts
								li: a(href='gallery.html') Gallery
								li: a(href='single-cruise.html') Single Cruise
								li: a(href='#') Our History
								li: a(href='#') Booking

						.col-6.col-sm-3
							ul.list.list-xs
								li: a(href='#') Facebook
								li: a(href='#') Twitter
								li: a(href='#') Instagram
								li: a(href='#') LinkedIn
								li: a(href='#') Pinterest


				.col-md-7.col-lg-4
					h4.text-title-footer Contact Information
					hr
					ul.list-sm
						li.object-inline
							span.icon.icon-md.mdi.mdi-map-marker
							a.link-default(href='#') 2130 Fulton Street San Diego, CA #[br] 94117-1080 USA

						li.object-inline
							span.icon.icon-md.mdi.mdi-phone
							ul.list-0
								li: a.link-default(href='tel:#') 1-800-1234-678
								li: a.link-default(href='tel:#') 1-800-8765-098

						li.object-inline
							span.icon.icon-md.mdi.mdi-email
							a.link-default(href='mailto:#') info@demolink.org

	.footer-linked-aside
		.container
			+rights
