section.section.jumbotron-modern.bg-gray-700.bg-image(style='background-image: url(images/bg-image-2.jpg);')
	.jumbotron-modern-inner
		.container
			.jumbotron-modern-content
				h1.text-extra-large-title.wow-outer.font-weight-bold: span.wow.slideInUp Cruises
				h4.text-normal.font-weight-light.wow-outer: span.wow.slideInDown for those who are hard to surprise
				.jumbotron-bg-text welcome
				form.rd-form.form-lg.form-layout-1
					.form-wrap.form-wrap-select.wow.fadeInLeftSmall(data-wow-delay='.3s')

						select.form-input.select(name='find-job-location' data-minimum-results-for-search="Infinity")
							option(value='1') Type of cruise
							option(value='2') Classic Cruise
							option(value='3') Family Cruise
							option(value='4') Adventure Cruise


					.form-wrap.form-wrap-select.wow.fadeInLeftSmall(data-wow-delay='.3s')

						select.form-input.select(name='find-job-location' data-minimum-results-for-search="Infinity")
							option(value='1') Price
							option(value='2') $1,000
							option(value='3') $1,500
							option(value='4') $2,000


					.form-wrap.form-wrap-button: button.button.button-lg.button-primary.button-winona.wow.fadeInLeftSmall(data-wow-delay='.4s') Search
