// Overview
section.section.section-lg.right-pattern
	.container
		.row.row-50.justify-content-center.justify-content-lg-between
			.col-md-10.col-lg-6
				h2.wow-outer.font-weight-bold.text-gray-800: span.wow.slideInUp Overview
				h5.offset-top-3.text-gray-800.font-weight-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				.group.group-middle
					a.button.button-primary.button-winona.button-secondary(href='#our-history' data-waypoint-to='#our-history') View Our History
					a.button.button-icon.button-icon-left.button-primary-outline.button-winona.button-secondary(href='#')
						span.icon.mdi.mdi-facebook-messenger.facebook-icon
						| Messenger

			.col-md-10.col-lg-6.col-xl-5 
				+png('large-features-1-560x480', 'img-responsive')
