section.section.section-lg.bg-image-1(style='background-image: url(images/our-history-1920x1616.jpg);')#our-history
	.container
		// Timeline Classic
		article.timeline-classic
			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-1-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					h2.wow-outer.font-weight-bold.text-white: span.wow.slideInUp Diverse Cruises
					h5.offset-top-3.text-white.font-weight-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					p.text-white-darker  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-2-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					h2.wow-outer.font-weight-bold.text-white: span.wow.slideInUp Unforgettable Experiences
					h5.offset-top-3.text-white.font-weight-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					p.text-white-darker  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit

			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-3-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					h2.wow-outer.font-weight-bold.text-white: span.wow.slideInUp Best Customer Service
					h5.offset-top-3.text-white.font-weight-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					p.text-white-darker  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
			.timeline-classic-item
				.timeline-classic-item-aside: +jpg('timeline-4-390x250', 'timeline-classic-item-image')
				.timeline-classic-item-divider
				.timeline-classic-item-main
					h2.wow-outer.font-weight-bold.text-white: span.wow.slideInUp Top-Rated Cruise Ships
					h5.offset-top-3.text-white.font-weight-light Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					p.text-white-darker Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
