section.section.section-lg.text-center
	.container
		h2.wow-outer.font-weight-bold.text-gray-800 Our Team
		.row.row-50.row-xxl-70.justify-content-center.justify-content-lg-start
			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft
					figure.profile-creative-figure: +jpg('team-1-270x273', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Nathan Porter
						p.profile-creative-position CEO, Founder
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft(data-wow-delay='.2s')
					figure.profile-creative-figure: +jpg('team-2-270x273', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Jean Thompson
						p.profile-creative-position Cruise Advisor
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft
					figure.profile-creative-figure: +jpg('team-3-270x273', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Brian Payne
						p.profile-creative-position Sales Manager
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis

			.col-md-10.col-lg-6.wow-outer
				// Profile Creative
				article.profile-creative.wow.slideInLeft(data-wow-delay='.2s')
					figure.profile-creative-figure: +jpg('team-4-270x273', 'profile-creative-image')
					.profile-creative-main
						h5.profile-creative-title: a(href='#') Marie Fernandez
						p.profile-creative-position Marketing Manager
						.profile-creative-contacts
							.object-inline
								span.icon.icon-md.mdi.mdi-phone
								a(href='tel:#') 1-800-1324-567
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis

		.wow-outer.button-outer
			a.button.button-lg.button-primary.button-winona.wow.slideInUp(href='#') View all Team
